{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["node_modules"],
        "extensions": [".js", ".jsx", ".ts", ".d.ts", ".tsx"]
      }
    },
    "import/extensions": [".js", ".jsx", ".ts", ".d.ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".d.ts"]
    }
  },
  "globals": {
    "_": true,
    "Promise": true,
    "log": true,
    "cfg": true
  },
  "rules": {
    "spaced-comment": 1,
    "prefer-arrow-callback": 1,
    "func-names": 0,
    "no-else-return": "off",
    "no-plusplus": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "no-unused-vars": 1,
    "camelcase": 1,
    "no-param-reassign": ["error", { "props": false }],
    "comma-dangle": "off",

    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": 1,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "mjs": "never"
      }
    ]
  },
  "ignorePatterns": ["webpack.config.js"]
}
