.dashboard {
  .room-item {
    background-color: unset;
    padding: 4px;
    color: black;
  }

  .current-room {
    color: white;
  }
}
.actions-close {
  z-index: 10;
  .button {
    box-shadow: unset !important;
  }
}
